[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/ulph/json.git
[submodule "submodules/ThreadPool"]
	path = submodules/ThreadPool
	url = https://github.com/ulph/ThreadPool.git
[submodule "submodules/JUCE"]
	path = submodules/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
